/* Structural */
body{
    background-color: #58786D;
    margin: 0;
}
#sidebar, article, .idea {
    box-sizing: border-box;
}
#sidebar {
    background-color: #CCA18C;
    padding: 10px;
}

#sidebar h2 {
    color: #58786D;
    text-align: center;
}
#content {
    width: 80%;
    margin: auto;
    border: 1px solid #5E433C;
}
    #main-header {
    background-color: #5E433C;
    padding: 35px;
}
#main-header h1 {
    color: #FFF3C2;
    text-align: center;
    font-size: 48px;
    margin: 0;
}
main {
    background-color: #5E433C;
}
article {
    background-color: #36152B;
}

article h2 {
    background-color: #36152B;
    color: #58786D;
    margin: 0;
    padding: 10px;
    text-align: center;
}

article img {
    display: block;
    width: 100%;
}


/* Navigation */

#main-nav ul,
#quick-links {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

#main-nav {
    background-color: #5E433C;
}

#main-nav li {
    background-color: #FFF3C2;
    padding: 15px;
    border-bottom: 1px solid white;
    text-align: center;
}

#main-nav a {
    color: #58786D;
    text-decoration: none;
    font-size: 25px;
}

#quick-links li {
    background-color: white;
    border-bottom: 1px solid #5E433C;
    padding: 7px;
    text-align: center;
}

#quick-links a {
    color: #58786D;
    text-decoration: none;
    font-size: 18px;
}

/* Typography */
body {
    font-family: Arial, Helvetica, sans-serif;
    color:#58786D;
}