/* Structural */
body{
    background-color: #58786D;
    margin: 0;
}
#sidebar, article, .idea {
    box-sizing: border-box;
}
#content {
    width: 80%;
    margin: auto;
    border: 1px solid #5E433C;
}

/* Navigation */


/* Typography */
body {
    font-family: Arial, Helvetica, sans-serif;
    color:#FFF3C2;
}