body {
	background: powderblue;
	font-family: "Times New Roman", Times, serif;;
}
h1 {
	color: black;
	text-align: center;
}
h3 {
	color:rgb(248, 228, 49);
}
h2 {
	color:brown;
	text-align: left;
}
	.project img{
	width: 300px;
	height: 300px;
	margin: 10px;
	border: 2px solid rgb(126, 14, 201);
	display: block;
	margin: auto;
}
a { /* change the appearance of ALL links */
text-decoration: none;
color: purple;
}
.project p { 
text-align: center;
margin: 15px;
}