body {
	background: powderblue;
	font-family: "Times New Roman", Times, serif;;
}
h1 {
	color: black;
	text-align: center;
}
h3 {
	color:coral;
	text-align: right;
}
h2 {
	color:brown;
	text-align: left;
}