body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eef1f5;
    text-align: center;
    margin: 0;
}

header h1 {
    color: #294c60;
    font-size: 34px;
}

header h2 {
    color: #527f96;
    font-size: 26px;
}

nav {
    margin: 25px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    padding: 5px;
    color: #294c60;
    font-size: 18px;
}

nav li:hover {
    cursor: pointer;
}

#arrow {
    color: #294c60;
    cursor: pointer;
}

#nav-list {
    display: none;
}

main {
    width: 90%;
    margin: auto;
}

section {
    background-color: white;
    border: 1px solid #527f96;
    padding: 25px;
    min-height: 190px;
}

section h2 {
    color: #294c60;
    font-size: 24px;
}

section p {
    color: #527f96;
    font-size: 19px;
}

input {
    width: 230px;
    font-size: 16px;
}

.hidden {
    display: none;
}

@media only screen and (min-width: 600px) {

    #arrow {
        display: none;
    }

    #nav-list {
        display: flex;
        justify-content: center;
    }

    nav li:not(:last-child)::after {
        content: "|";
        padding-left: 10px;
    }

}